@-moz-document url-prefix(about:){
/*  Colors  */
:root{--newtab-background-color: -moz-Dialog !important;
--in-content-background-color: -moz-Dialog !important;
--in-content-page-background: -moz-Dialog !important;
--in-content-table-background: -moz-Dialog !important;
--in-content-box-background-odd: -moz-Dialog !important;
--card-background-color: color-mix(in srgb, currentColor 5%, -moz-Dialog) !important;
--in-content-box-background: color-mix(in srgb, currentColor 5%, -moz-Dialog) !important;
--in-content-button-background: color-mix(in srgb, currentColor 5%, -moz-Dialog) !important;
--in-content-box-background: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--in-content-box-info-background: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--message-bar-text-color: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--newtab-background-color-secondary: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--in-content-button-background-hover: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--box-background: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--button-background-color: color-mix(in srgb, currentColor 13%, -moz-Dialog) !important;
--button-hover-background-color: color-mix(in srgb, currentColor 15%, -moz-Dialog) !important;}
body{background-color: -moz-Dialog !important} @-moz-document url(about:blank){body{background-color: #eee !important} @media (prefers-color-scheme: dark){body{background-color: #222 !important}}}

/*  Removes the scrollbar on some places  */
body,html{overflow-y: auto}

/*  Devtools  */
@-moz-document url-prefix(about:devtools){
#toolbox-container{margin-top: 10px !important}
.devtools-tabbar{background: transparent !important}
.devtools-tab-line{border-radius: 0 0 5px 5px}
.customize-animate-enter-done,.customize-menu,.top-site-outer:hover,button{background-color: transparent!important}}

/*  Newtab  */
@-moz-document url("about:home"), url("about:newtab"){
.search-wrapper .search-handoff-button .fake-caret {top: 13px !important; inset-inline-start: 48px !important}
.search-wrapper .logo-and-wordmark{opacity: 0.9 !important; order: 1 !important; margin-bottom: 0 !important; flex: 1 !important; flex-basis: 20% !important}
.search-wrapper .search-handoff-button .fake-caret{top: 13px !important; inset-inline-start: 48px !important}
.search-wrapper .logo-and-wordmark{opacity: 0.9 !important; order: 1 !important; margin-bottom: 0 !important; flex: 1 !important; flex-basis: 20% !important}
.outer-wrapper .search-wrapper{padding: 0px !important; display: flex !important; flex-direction: row !important; flex-wrap: wrap !important; justify-content: center !important; align-items: center !important; align-content: space-around !important; gap: 20px 10px !important}
.search-wrapper .logo-and-wordmark .logo{background-size: 60px !important; height: 60px !important; width: 60px !important}
.search-wrapper .search-inner-wrapper{min-height: 42px !important; order: 2 !important; flex: 3 !important; flex-basis: 60% !important; top: 4px !important}
.search-wrapper .search-inner-wrapper{min-height: 42px !important; order: 2 !important; flex: 3 !important; flex-basis: 60% !important; top: 4px !important}
.outer-wrapper.ds-outer-wrapper-breakpoint-override.only-search.visible-logo{display: flex !important; padding-top: 0px !important;vertical-align: middle}
.customize-menu{border-radius: 10px 0 0 10px !important}
#root > div{align-items: center; display: flex}}}

